{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} sign up {% endblock %}
{% block content %}
    {% if registered %}
    <div class="alert alert-success">
        <h2>Account created successfully <a href="{% url 'app_login:log_in' %}">Login Here</a></h2>
    </div>
    {% else %}
    <h2>Create New Account</h2>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary btn-sm">Register</button>
    </form>
    <hr>
    <p>already have an account? <a href="{% url 'app_login:log_in' %}">login here</a></p>
    {% endif %}
{% endblock %}