{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{blog.blog_title}} {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-sm-6">
            <h4>{{blog.blog_title}}</h4>
            <h6><a href="">@{{blog.author}}</a></h6>
            <p><i>{{blog.publish_date}}</i></p>
            <p><i>{{blog.update_date}}</i></p>
        </div>
        <div class="col-sm-6">
            <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_title}}" width="100%">
        </div>
    </div>
    <p>{{blog.blog_content|linebreaks}}</p>
    {% if Liked %}
    <a href="{% url 'app_blog:unlike_post' pk=blog.pk %}">
        <i class="fa-solid fa-thumbs-up"></i>
    </a>
    
    {% else %}
    <a href="{% url 'app_blog:like_post' pk=blog.pk %}">
        <i class="fa-regular fa-thumbs-up"></i>
    </a>

    {% endif %}
    <div class="row">
        <div class="col-sm-6">
            <h4>Commnets:</h4>
            {% for comment in blog.blog_comment.all %}
            <p><a href="#">@{{comment.user}}:</a> {{comment.comment}} <br> <i>{{comment.comment_date}}</i></p>
            {% endfor %}
        </div>
        <div class="col-sm-6">
            <form method="POST">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary btn-sm">Comment</button>
            </form>
        </div>
    </div>
{% endblock %}